<pre>
{{userDashboardData | json}}
</pre>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">

        <!-- Top Header-->

        <div class="page-header">
            <h1> Birchwood Estates West </h1>
            <p>Welcome {{profile.resident1Name}}</p>
        </div>
        <!-- end top header -->

<br> 


        <!-- messages -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Messages</h3>
          </div>


<!-- show FB data in wedbpage
          <pre>
            {{messages | json}}
          </pre>
-->

          <div class="panel-body">
            <div ng-repeat="(key, value) in userDashboardData.messages"> 
                                {{value}}
            </div>
          </div>
        </div>
        <!-- /messages -->
 
        <!-- Account -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Account</h3>
          </div>

<!-- show FB data in wedbpage
          <pre>
            {{payments | json}}
          </pre>

--> 

          <div class="panel-body">

        <!-- account status -->
            <div class="container">
            <h4> Account Status </h4>     <br>  
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                        <i class="fa fa-dollar" style="font-size: 22pt;"></i> 
                        <h5 style="display: inline-block"> Your current balance is {{userDashboardData.globalBalance}} </h5>

                        </div>

                        <div class="col-md-3">
                        <button class="btn-danger btn-md"> Make a Payment</button>
                        </div>
                    </div>
            </div>
            <br> <br>


    <!-- payment history -->        
            <div  class="container">
            <h4>Payment History</h4>
            <p>The following table reflects your payment history. Please note it can take 3-5 Business days for your payment to be reflected in the system</p>
             <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Balance Due</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in userDashboardData.payments" ng-if="$index > 0">
                    <td>{{value.date}}</td>
                    <td>Monthly Rent</td>
                    <td>${{value.amount}}FB</td>
                    <td>${{value.amountPayed}}FB</td>
                    <td>{{value.localBalance}}</td> 
                </tr>
                </tbody>
              </table>
            </div>  <!-- End #PaymentHistory-->
         </div> <!-- end account panel body -->
        </div> <!-- end account panel -->



        <!-- Documents -->

          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Documents</h3>
              </div>
          <div class="panel-body">


        <div class="container" id="anchor1">

          <div class="row">
            <div class="col-md-3 col-lg-3">
                <a class="btn-documents btn-default anchor-button" href="https://mises.org/sites/default/files/Principles%20of%20Economics_5.pdf" download> Lease Agreement </a>
            </div>
            <div class="col-md-3 col-lg-3">
                <a class="btn-documents btn-default anchor-button"> Community Rules </a>
            </div>

            <div class="col-md-3 col-lg-3">
                <a class="btn-documents btn-default anchor-button"> Lawn/Snow Schedules </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-lg-3">
                <a class="btn-documents btn-default anchor-button"> Service Providers </a>
            </div>
      
          </div>

        </div>

        </div> <!-- /panel body -->
        </div> <!-- / panel default -->



        <!-- End Documents --> 

        <div class="panel panel-default">
              <div class="panel-heading">
                <pre>
                {{userDashboardData.postings | json}}
                </pre>
                <h3 class="panel-title">my postings</h3>
              </div>
          <div class="panel-body">

              <table class="table">
                <thead>
                  <tr>
                    <th>description</th>
                    <th>name</th>
                    <th>post type</th>
        
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in userDashboardData.postings" >
                    <td>{{value.description}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.postType}}</td>
                </tr>
                </tbody>
              </table>

          </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

  





