 <div id="wrapper">
                       

<!-- Sidebar Navigation -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a >
                Navigation 
            </a>
        </li>



        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dashboard
            <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                <li>
                    <a ui-sref="dashboard.main" ng-click="gotoAnchor(2)">Messages</a>
                </li>        
                <li>
                    <a ui-sref="dashboard.main" ng-click="gotoAnchor(3)">Account</a>
                </li>
                <li>
                    <a ui-sref="dashboard.main" ng-click="gotoAnchor(4)">Documents</a>
                </li>
       
                </ul>
        </div>

<!--         <li>
            <a ui-sref="dashboard.main" ng-click="gotoAnchor('asdf')">Dashboard</a>
        </li> -->
        <li>
            <a ui-sref="dashboard.main" ng-click="gotoAnchor(2)">Messages</a>
        </li>        
        <li>
            <a ui-sref="dashboard.main" ng-click="gotoAnchor(3)">Account</a>
        </li>
        <li>
            <a ui-sref="dashboard.main" ng-click="gotoAnchor(4)">Documents</a>
        </li>
       
        <li>
            <a ui-sref="dashboard.profile" >Profile</a>
        </li>
        <li>
            <a ui-sref="dashboard.community" >Community Bulletin Board</a>
        </li>
         <li>
            <a ng-click="logOut()">log out</a>
        </li>

    </ul>
</div>
<!-- /#sidebar-wrapper -->




<!-- Page Content -->
<div id="page-content-wrapper">

        <div ui-view></div>

</div>
    <!-- /#wrapper -->

  





